@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.hover_svg:hover path {
  fill: #f16d7f;
}

.logo {
  display: flex;
  gap: 13px;
  align-items: center;
}
.logo__text {
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.logo__color {
  color: #f16d7f;
  font-weight: 900;
}

.header {
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__right-container {
  display: flex;
  align-items: center;
}
.header__searche {
  display: flex;
  margin-left: 37px;
}
.header__searche-details[open] .header__searche-text {
  color: #f16d7f;
}
.header__searche-details[open] .header__searche-img {
  fill: #f16d7f;
}
.header__searche-button {
  width: 87px;
  height: 36px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: none;
  position: relative;
}
.header__searche-text {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  margin-right: 8px;
}
.header__searche-img {
  fill: #838383;
}
.header__searche-button:hover .header__searche-text {
  color: #f16d7f;
  transition: all 0.3s;
}
.header__searche-button:hover .header__searche-img {
  fill: #f16d7f;
  transition: all 0.3s;
}
.header__searche-box {
  padding: 19px 13px 22px 13px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 65px;
  z-index: 1;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.header__searche-box::before {
  content: " ";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  transform: rotate(45deg);
  top: -6px;
  left: 66px;
}
.header__searche-title {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 16px;
}
.header__searche-link {
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
  display: block;
}
.header__searche-link:hover {
  color: #f16d7f;
}
.header__input {
  display: flex;
}
.header__field {
  width: 281px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding-left: 16px;
}
.header__glass {
  width: 36px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  border-left: none;
}
.header__icon {
  fill: #a4a4a4;
  padding-top: 6px;
}
.header__glass:hover .header__icon {
  fill: #f16d7f;
  transition: all 0.3s;
}
.header__right {
  display: flex;
  gap: 26px;
  align-items: flex-end;
}
.header .hover_svg {
  fill: #222222;
}
.header__basket-details[open] .hover_svg {
  fill: #f16d7f;
}
.header__basket {
  width: 32px;
  height: 29px;
  fill: #a4a4a4;
  display: flex;
}
.header__right-button {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border-radius: 3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__right-text {
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-right: 8px;
}
.header__right-img {
  fill: #ffffff;
}
.header__right-button:hover .header__right-text {
  color: #f16d7f;
  transition: all 0.3s;
}
.header__right-button:hover {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  transition: all 0.3s;
}
.header__right-button:hover .header__right-img {
  fill: #f16d7f;
  transition: all 0.3s;
}
.header .header__right-details[open] .header__right-text {
  color: #f16d7f;
}
.header .header__right-details[open] .header__right-img {
  fill: #f16d7f;
}
.header .header__right-details[open] .header__right-button {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.header__right-box {
  max-width: 262px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 17px;
  position: absolute;
  top: 85px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-left: -35px;
}
.header__right-box::before {
  content: " ";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  background-color: #ffffff;
  transform: rotate(45deg);
  top: -6px;
  left: 50px;
}
.header__right-item {
  display: flex;
  width: 229px;
  border-bottom: 1px solid rgba(237, 237, 237, 0.74);
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.header__right-link {
  display: flex;
}
.header__right-photo {
  width: 72px;
  height: 85px;
  margin-bottom: 16px;
}
.header__right-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  margin-right: 52px;
  margin-left: 14px;
}
.header__right-title {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.header__right-price {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.header__right-x {
  width: 16px;
  height: 16px;
  border: none;
  background: none;
}
.header__right-close {
  fill: #c0c0c0;
}
.header__sum {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 32px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.header__checkout {
  width: 225px;
  height: 50px;
  border: 1px solid #f16d7f;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 11px;
}
.header__checkout:hover {
  background: #f16d7f;
  color: #ffffff;
}
.header__card {
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__card:hover {
  background: #f16d7f;
  color: #ffffff;
}

.stars {
  display: flex;
}
.stars_full {
  width: 12px;
  height: 12px;
  fill: #e4af48;
}
.stars_half {
  width: 12px;
  height: 12px;
  fill: #e4af48;
}

.navigation__ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  min-height: 51px;
  align-items: center;
  flex-wrap: wrap;
}
.navigation__li {
  list-style-type: none;
  position: relative;
}
.navigation__li:hover .navigation__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 46px;
  justify-content: space-evenly;
}
.navigation__container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  width: 846px;
  position: absolute;
  top: 30px;
  z-index: 1;
  display: none;
}
.navigation__container::before {
  content: " ";
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  transform: rotate(45deg);
  top: -9px;
  left: 20px;
}
.navigation__container-item {
  margin-right: 46px;
}
.navigation__container-item:last-of-type {
  margin-right: 0px;
}
.navigation__container-title {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 16px;
}
.navigation__container-link {
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  display: block;
  text-decoration: none;
}
.navigation__container-link:hover {
  color: #f16d7f;
}
.navigation__container-links {
  margin-bottom: 10px;
}
.navigation__link {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.navigation__container-photo {
  margin-top: 10px;
  transition: all 0.3s;
}
.navigation__container-photo:hover {
  box-shadow: 3px 3px 3px 1px grey;
}
.navigation__last:hover .navigation__container {
  right: 0;
  left: auto;
}
.navigation__last:hover .navigation__container:before {
  right: 35px;
  left: auto;
}

.arrival {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f8f3f4;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.arrival__title {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__list:after {
  content: "/";
  padding-left: 3px;
  padding-right: 3px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumbs__link {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
  transition: all 0.3s;
}
.breadcrumbs .breadcrumbs__end {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f16d7f;
}
.breadcrumbs__link:hover {
  color: #f16d7f;
}

.product {
  padding-top: 59px;
  padding-bottom: 110px;
  display: flex;
  gap: 49px;
  position: relative;
  flex-wrap: wrap;
}
.product__left {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.product__details-left {
  width: 243px;
}
.product__details-left[open] .product__left-img {
  transform: rotate(180deg);
  fill: #f16d7f;
}
.product__details-left[open] .product__left-text {
  color: #f16d7f;
}
.product__left-summary {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  align-items: center;
  justify-content: space-between;
}
.product__left-summary:hover .product__left-text {
  color: #f16d7f;
  transition: all 0.3s;
}
.product__left-summary:hover .product__left-img {
  fill: #f16d7f;
  transition: all 0.3s;
}
.product__left-decor {
  display: flex;
  align-items: center;
}
.product__left-stick {
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  display: block;
}
.product__left-text {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-left: 11px;
}
.product__left-img {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  fill: #6f6e6e;
}
.product__link-box {
  padding: 22px 13px 41px 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  z-index: 1;
}
.product__link-absolut {
  position: absolute;
  min-width: 243px;
}
.product__left-link {
  font-family: Lato;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}
.product__left-link:hover {
  color: #f16d7f;
}
.product__choice {
  display: flex;
  flex-wrap: wrap;
}
.product__trend {
  width: 176px;
}
.product__trend-title {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-bottom: 25px;
}
.product__trend-box {
  display: flex;
  flex-wrap: wrap;
}
.product__trend-input {
  display: none;
}
.product__trend-label:not(:last-child):after {
  content: "|";
  padding-left: 3px;
  padding-right: 3px;
  color: #dfdfdf;
}
.product__trend-label {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  cursor: pointer;
}
.product__trend-label:hover {
  color: #f16d7f;
}
.product__size {
  width: 238px;
  margin-left: 114px;
  margin-right: 58px;
}
.product__size-title {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-bottom: 25px;
}
.product__size-box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.product__size-check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}
.product__size-input {
  cursor: pointer;
}
.product__size-label {
  cursor: pointer;
}
.product__size-check:hover {
  color: #f16d7f;
}
.product__price {
  width: 262px;
}
.product__price-title {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-bottom: 25px;
}
.product__range {
  display: flex;
  gap: 21px;
  flex-direction: column;
}
.product__input {
  width: 262px;
}
.product__range-num {
  display: flex;
  align-items: baseline;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.product__sort {
  background-color: #f3f3f3;
  display: flex;
  gap: 10px;
  padding: 10px 9px 10px;
  margin-top: 41px;
  margin-bottom: 48px;
}
.product__sort-box {
  display: flex;
}
.product__sort-box:hover .product__sort-info {
  color: #f16d7f;
}
.product__sort-info {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 10px 13px 10px 13px;
}
.product__sort-select {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 10px 13px 10px 13px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
}
.product__main {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 261px);
}
.product__block {
  position: relative;
}
.product__block:hover {
  box-shadow: 8px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.product__block:hover .product__block-photo {
  filter: brightness(30%);
}
.product__block:hover .product__hover-button {
  display: flex;
}
.product__block-link {
  display: flex;
  gap: 19px;
  flex-direction: column;
}
.product__block-photo {
  width: 100%;
  height: 100%;
}
.product__block-text {
  display: flex;
  gap: 17px;
  flex-direction: column;
  margin-left: 14px;
  margin-bottom: 30px;
}
.product__block-title {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.product__block-price {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.product__hover-button {
  position: absolute;
  top: 98px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: none;
}
.product__hover-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #ffffff;
  pointer-events: all;
}
.product__hover-link:hover {
  box-shadow: 0 0 8px 0 #ffffff;
}
.product__hover-text {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}
.product__hover-twice {
  display: flex;
  gap: 9px;
  margin-top: 8px;
}
.product__hover-link2 {
  width: 35px;
}
.product__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  transform: all 2s;
  flex-wrap: wrap;
}
.product__bottom-link {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #ef5b70;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  padding: 15px 45px;
  transition: all 0.5s;
}
.product__bottom-link:hover {
  color: #ffffff;
  background-color: #ef5b70;
}

.page__ul {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  display: flex;
  gap: 16px;
  padding: 15px;
  list-style-type: none;
}
.page__link {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #c4c4c4;
  transition: all 0.3s;
}
.page__icon {
  fill: #c4c4c4;
}
.page__link:hover {
  color: #f16d7f;
}
.page__icon:hover {
  fill: #f16d7f;
}
.page-color {
  color: #f16d7f;
  fill: #f16d7f;
}

.guaranties {
  background-color: #222224;
  background-size: cover;
  padding-top: 89px;
  padding-bottom: 114px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.guaranties__block {
  display: inline-block;
}
.guaranties__block:not(:last-child) {
  margin-right: 32px;
}
.guaranties__text {
  width: 310px;
  margin-top: 32px;
}
.guaranties__title {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.guaranties__description {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  text-align: center;
  margin-top: 17px;
}
.guaranties__block {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.guaranties__block:not(:last-child) {
  margin-right: 0;
}
.guaranties__text {
  display: flex;
  gap: 17px;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.guaranties__description {
  margin-top: 17px;
}
.guaranties__block:hover .guaranties__img {
  filter: drop-shadow(3px 3px 3px #f16d7f);
  transition: all 0.5s;
}
.guaranties__block:hover .guaranties__title {
  filter: drop-shadow(3px 3px 3px white);
  transition: all 0.5s;
}

.subscription {
  background-image: url(./img2/background-subscription.png);
  min-height: 438px;
  background-color: rgba(242, 242, 242, 0.5);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: bottom;
  display: flex;
  gap: 165px;
  align-items: center;
  flex-wrap: wrap;
}
.subscription__figure {
  display: flex;
  gap: 28px;
}
.subscription__photo {
  width: 83px;
  height: 83px;
}
.subscription__title {
  display: flex;
  gap: 19px;
  flex-direction: column;
}
.subscription__italic {
  max-width: 386px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}
.subscription__data {
  font-family: Lato;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}
.subscription__name {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.subscription__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription__right-title {
  font-family: Lato;
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}
.subscription__right-text {
  font-family: Lato;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 35px;
}
.subscription__right-input {
  display: flex;
}
.subscription__field {
  width: 282px;
  height: 52px;
  background-color: #e1e1e1;
  border: none;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  padding-left: 28px;
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}
.subscription__button {
  width: 104px;
  height: 52px;
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  transition: all 0.5s;
}
.subscription__button:hover {
  background: #ffffff;
  color: #f16d7f;
  border: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  gap: 13px;
}
.pagination__link {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
.pagination-color {
  background-color: #f16d7f;
}
.pagination__link:hover {
  background-color: #f16d7f;
}

.inform {
  padding-top: 109px;
  padding-bottom: 89px;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
}
.inform__description {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.inform__text {
  max-width: 427px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.inform__subdivision {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.inform__block {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.inform__title {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.inform__menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.inform__link {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.inform__link:hover {
  color: #f16d7f;
}

.footer {
  padding-top: 24px;
  padding-bottom: 23px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__text {
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.footer__icons {
  display: flex;
  gap: 8px;
}
.footer__block {
  width: 32px;
  height: 32px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.footer__block:hover {
  background: #f16d7f;
}
.footer__block:hover svg path {
  fill: #ffffff;
}/*# sourceMappingURL=style3.css.map */